<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-restaraunts-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Restaraunts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-restaraunts-link">
                <a href="{% url 'restaraunts' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'restaraunts' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'restaraunts' %}" class="dropdown-item">All Restaraunts</a>
            </div>
        </li>
    </ul>
</div>